<div class="container">
<div class="row">
  <div class="col s12" id="admin">
    <div class="card material-table">
      <div class="table-header">
        <h5>Institutions</h5>
      </div>
      <div id="dttb_wrapper" class="dataTables_wrapper no-footer">
        <table class="table dataTable no-footer dtr-inline" id="dttb"
          role="grid" aria-describedby="dttb_info">
          <thead>
            <tr role="row">
              <th width="30%" class="sorting_asc" tabindex="0"
                aria-controls="dttb" rowspan="1" colspan="1"
                aria-sort="ascending"
                aria-label="Title: activate to sort column descending">Name</th>

              <th width="15%" class="sorting" tabindex="0" aria-controls="dttb" rowspan="1"
                colspan="1" aria-label="Body: activate to sort column ascending">registration</th>

              <th  width="15%"  class="sorting" tabindex="0"
                aria-controls="dttb" rowspan="1" colspan="1"
                aria-label="Published: activate to sort column ascending">email</th>

                <th width="15%"  class="sorting" tabindex="0"
                aria-controls="dttb" rowspan="1" colspan="1"
                aria-label="Published: activate to sort column ascending">phone</th>

              <th  width="15%" class="sorting" tabindex="0" aria-controls="dttb" rowspan="1"
                colspan="1" aria-label=": activate to sort column ascending"></th>
            </tr>
          </thead>
          <tbody>
          <% @institutions.each do |institution| %>
            <tr role="row" class="even">
              <td tabindex="0" class="sorting_1"><%= institution.name %></td>
              <td><%= institution.registration %></td>
              <td><%= institution.email %></td>
              <td><%= institution.phone %></td>
              
            
              <td class="right-align">
              <a> <%= link_to 'Show', institution %> </a>
              <a> <%=link_to 'Edit', edit_institution_path(institution) %> </a>
                <a <%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
       
      </div>
    </div>
  </div>
</div>
</div>