<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @submission.job %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
